body{
	background-color: #fff;
	font-family: sans-serif;
}

.wrapper{
	line-height: 1.2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

header{
	padding-left: 1em;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
header p{
	text-align: right;
	margin-right: 1em;
	margin-left: auto;
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
}
header h1{
	color: orange;
	letter-spacing: .1em;
}

section.section{
	padding: 2em;
	min-width: 15em;
	margin: .5em;
	background-color: #39f;
	color: #eea;
	border-radius: 1em;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 20%;
	    -ms-flex: 1 0 20%;
	        flex: 1 0 20%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
section.section img{
	width: 100%;
	height: auto;
}
section.section:hover{
	background-color: #06f;
}

section.section p:nth-last-child(2){
	padding-bottom: 2em;
}

section.section button:last-child{
	width: 10em;
	padding: .5em;
	background-color: orange;
	border-radius: .5em;
	margin: auto auto 0 auto;
}

section.section button:last-child:hover{
	background-color: #fff;
}

footer{
	text-align: center;
}

header a:link{
	text-decoration: none;
}
header a:hover{
	text-decoration: underline;
}